body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.nav-Card > p{
    margin:30px 40px 0px 0px;
    font-weight: 700;
}

.Card{
    border: 2px solid #9e9e9e;
    border-radius: 5px;
    width:990px;
    position: relative;
    left:5px;
    height: 800px;
    background-color: #eee;
    margin-top: 100px;
}

.nav-Card{
    display: flex;
    justify-content:space-around;
}

.nav-Sec{
    display:flex;
    padding:20px;
}

.nav-Sec > span {
    font-weight: 700;
    position: relative;
    top:10px;
    left: 35px;
}

.Picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width:990px;
    height: 600px;
    border: 2px solid #9e9e9e;
}

.comment{
    text-align: left;
    font-size: 18px;
    padding: 10px 0px 0px 20px;
    border: 2px solid #9e9e9e;
    height: 60px;
    font-weight: 700;
}

.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.card-comment{
    width:300px;
    height: 30px;
    background-color: #bcaaa4;
    border:1px solid #bcaaa4;
    border-radius: 20px;
}

.card-comment:focus{
    border: 3px solid #bcaaa4;
    transition: border-color .8s linear;
}

.footer-2 > button{
    width:50px;
    height: 36px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid #bcaaa4;
}

button:hover{
    background-color: #bcaaa4;
    border:1px solid #bcaaa4;
    color: #e8f5e9;
    cursor: pointer;
}

.footer-2{
    padding:20px;
    position: relative;
    bottom: 7px;
}

.Delete-icon{
    font-size: 32px;
    position: relative;
    left: 180px;
}

.Detail-icon{
    font-size: 32px;
    position: relative;
    left: 110px;
}

.Detail-icon:hover{
    color: blue;
    transform: scale(1.2);
}

.Delete-icon:hover{
    color: red;
    transform: scale(1.2);
}

.heart-icon{
    font-size: 30px;
    position: relative;
    bottom: 7px;
}

.like{
    display: flex;
    margin: 20px;
}

.like > p {
    margin-right: 20px;
}

.heart-icon:hover{
    color: red;
    transform: scale(1.2);
}

.Left{
    display: flex;
}

.Left-Picture{
    border: 1px solid black;
    height: 660px;
    width: 645px;
}

.Left-comment{
    border: 1px solid black;
    height: 660px;
    width: 345px;
}

.Right{
    display: flex;
}

.Right-Picture{
    border: 1px solid black;
    height: 660px;
    width: 645px;
}

.Right-comment{
    border: 1px solid black;
    height: 660px;
    width: 345px;
}

.Card-one{
    width:990px;
    height:600px;
    background-size:cover;
}