.D-container{
    position: relative;
    width:1000px;
    height: 100%;
    background-color: #eee;
}

.D-Picture{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width:1000px;
    height: 600px;
    border: 2px solid #9e9e9e;
}

.D-comment{
    display: flex;
    text-align: left;
    font-size: 18px;
    padding: 10px 0px 0px 20px;
    border: 2px solid #9e9e9e;
    height: 300px;
    font-weight: 700;
}